@model Attendence_Monitoring_System.Models.EmployeeList

@{
    ViewData["Title"] = "ViewEmployee";
}

<h2>View Employee</h2>
<hr />
<p>
    <form asp-action="GetEmployee">
                 <div class="form-group">
                 <select asp-for="searchOption" class ="form-control" asp-items=ViewBag.Options></select>
                 <br>
                <input asp-for="searchString" class="form-control" />
                <br>
                  <input type="submit" value="Search"  class="btn btn-primary" />
            </div>
            </form>
</p>

    <table class="table">
        <tbody>
            <tr>
            <td>
                </td>
                </tr>
            <tr>
            <td>
            <h7><b>Personal Details</b></h7>
                </td>
                </tr>
                    
            @foreach (var item in Model.users)
            {
                @if(item.SectionId == 1)
                {
                    <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.KeyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                </tr>
            }
            }
            <tr>
            <td>
                </td>
                </tr>
            <tr>
            <td>
            <h7><b>Professional Details</b></h7>
                </td>
                </tr>
            @foreach (var item in Model.users)
            {
                
                @if(item.SectionId == 2)
                {
                    
                    <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.KeyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                </tr>
            }
            }
            <tr>
            <td>
                </td>
                </tr>
            <tr>
            <td>
            <h7><b>Educational Details</b></h7>
                </td>
                </tr>
            @foreach (var item in Model.users)
            {
                
                @if(item.SectionId == 3)
                {
                    <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.KeyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                </tr>
            }
            }
 
        </tbody>
    </table>
<div>
    <br>
    <a asp-action="GetforAdmin" asp-controller="AttendenceLog" class="btn btn-primary">Attendance Details</a>
    <br>
    <br>
    <a asp-action="Create" asp-controller="UserLog" class="btn btn-primary">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
body {
   background-image:
   url("/Images/back_112.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
}
</style>
